body{
    font-family: smokum;
}

img{
    width: 100px;
    height: 100px;
}

h1{
    color: red;
}

.schedule table{
    border: 0.1em solid black;
    border-collapse: collapse;
    width: 95%;
    margin-left: 2.5%;
    background-color: white;
}
.schedule caption{
    border: 0.1em solid black;
    font-size: 1.5em;
    font-weight: bold;
}
.schedule th, .schedule td{
    border: 0.1em solid black;
    padding: 0.5em;
    text-align: center;
}
.schedule th{
    background-color: black;
    color: white;
}