body{
    font-family:Arial, Helvetica, sans-serif;
}
#mainbody{
    background-color: lightgrey;
    background-image: url("https://images.unsplash.com/photo-1488415032361-b7e238421f1b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8bm9ydGhlcm4lMjBsaWdodHN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;

}
.navbar{
    height:50px;
    width:140px;
    border: solid black;
    background-color: black;
    border-radius: 10%;
    
}

.navbar li{
    display: inline;
    padding: 10%
}

#certificates {
    display: flex;
    justify-content: center;
    align-items: center;
}

#certlink{
    width:230px;
    height:230px;
    border: solid black;   
}

a{
    color: white;
    text-decoration: none;
}

h1{
    color: red;
    text-align: center;
    font-family: alkatra;
}
h2{
    text-align: center;
}

#projects table{
    border: 0.1em solid black;
    border-collapse: collapse;
    width: 95%;
    margin-left: 2.5%;
    background-image:url(images/waterfall.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    color: white;
   
    
}
#projects caption{
    border: 0.1em solid black;
    font-size: 1.5em;
    font-weight: bold;
}
#projects th, #projects td{
    border: 0.1em solid black;
    padding: 0.5em;
    text-align: center;
}
#projects th{
    background-color: black;
    color: white;
}

/*CERT page */

#body1{
    background: linear-gradient(to bottom, #1A2980, #12D0CE);
}
#images{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}
  
#images img{
    
    width: 380px;
    height: 380px;
    
    border-radius: 10%;
}

/*Certificate full size style*/
#fullsize{
    display:flex;
    flex-flow: column;
    align-items: center;
    
}
#fullsize img{
    border: solid red ;
    max-width: 100%;
}
figcaption{
    font-family: helvetica;
    font-size: 18px;
    color: white;
}
#body2{
    background-color: black;
}
#navbar2{
    width: 150px;
    height: 50px;
    background-color: black;
    position: fixed;
    opacity: 0.5
}
.nav-a{
    color: white;
}
figcaption{
    text-align: center;
}
@media only screen and (max-width: 375px){
    
    
    #fullsize{
        display:flex;
        flex-flow: column;
        
        justify-content: center;
        align-items: center;
        
        
    }
    #phone{
        width:100%;
    }
    #email{
        width:100%;
    }
    #java{
        max-width: 375px;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    

}

#contactbox{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#phone{
    height: 4%;
    opacity: 0.7; 
}
#email{
    height: 334px;
    opacity: 0.7;
}
@media only screen and (min-width: 375px){
    #phone{
        width:300px;
    }

}
#text{
    display: none; 
}